#!/usr/bin/env python3.4
#file: settings_secret.py
# Django secret settings for debates project.
# Do not push to Github

#Django secret key
SECRET_KEY = ''

#For Google + authentication
#TODO, need the following:
#SOCIAL_AUTH_GOOGLE_PLUS_KEY = ''
#SOCIAL_AUTH_GOOGLE_PLUS_SECRET = ''

ADMINS = (
        # ('Your Name', 'your.email@example.com'),
)
