
{%block head%}
    <style type="text/css">
        form{
            display:inline-block;
            width:300px;
            padding:1em;
            border-right:1px solid gray;
            text-align: left;
        }
        #other_services{
            padding:1em;
            display:inline-block;
            width:200px;
            height:250px;
            vertical-align: top;
            text-align: left;
        }
        form #register{
            margin:10px 0px;
            font-size: 0.8em;
        }
        form h3, #other_services h3{
            margin:0;
            margin-bottom: .5em;
            border-bottom: 1px solid #DDDDDD;
        }
        table{
            margin:10px 0;
        }
        input[type=text], input[type=password]{
            border: 1px solid #D2D2D2;
            box-shadow: 0 0 2px #DDDDDD inset;
            padding: 5px;
            width:90%;
            margin: 5px 0px;
        }
        input[type=text]:focus, input[type=password]:focus{
            border-color:orange;
        }
        input[type=submit]{
            font-weight: bold;
            margin:5px 0;
        }
        .error{
            font-size: 0.8em;
        }
        #content-container{
            text-align: center;
        }
        .login-button{
            border: 1px solid #777;
            border-color: rgba(0,0,0,0.2);
            background-color: orange;
            color:black;
            cursor: pointer;
            display: block;
            padding: 5px 0.5em 0 0;
            text-align: center;
            text-decoration: none;
            text-shadow: 0 1px 0 rgba(0,0,0,0.5);
            white-space: nowrap;
            height:25px;
            width:170px;
            -moz-user-select: none;
            -webkit-user-select: none;
            user-select: none;

            position: relative;
            vertical-align: middle;

            -moz-border-radius: .3em;
            -webkit-border-radius: .3em;
            border-radius: .3em;

            background: #ff9e59; /* Old browsers */
            background: -moz-linear-gradient(top, #ff9e59 0%, #ff6e00 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff9e59), color-stop(100%,#ff6e00)); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top, #ff9e59 0%,#ff6e00 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top, #ff9e59 0%,#ff6e00 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top, #ff9e59 0%,#ff6e00 100%); /* IE10+ */
            background: linear-gradient(to bottom, #ff9e59 0%,#ff6e00 100%); /* W3C */

            opacity: 1;
            -webkit-transition: opacity .2s ease-in-out;
            -moz-transition: opactiy .2s ease-in-out;
            -ms-transition: opacity .2s ease-in-out;
            -o-transition: opacity .2s ease-in-out;
            transition: opacity .2s ease-in-out;
        }
        .login-button:before{
            content:url("/static/images/google_icon2.png");
            float: left;
            height:20px;
            border-right:1px solid #DDDDDD;
            padding:0px 0.5em;
            /*margin-right:0.5em;*/ 
        }
        .login-button:hover{
            opacity: 0.85;
        }
        .login-button:active{
            opacity: 1;
            background: #ff6e00; /* Old browsers */
            background: -moz-linear-gradient(top, #ff6e00 0%, #ff9e59 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff6e00), color-stop(100%,#ff9e59)); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top, #ff6e00 0%,#ff9e59 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top, #ff6e00 0%,#ff9e59 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top, #ff6e00 0%,#ff9e59 100%); /* IE10+ */
            background: linear-gradient(to bottom, #ff6e00 0%,#ff9e59 100%); /* W3C */
        }
    </style>
{%endblock%}

{%block title%}Login{%endblock%}

{%block content%}
    {%if user.is_authenticated and next%}
        <strong>Note:</strong> Access Denied. Please login to an authorized account to view this page. Otherwise <a href='/'>return home</a>.
    {%endif%}
    <form method="post" action="{{action}}">
        <h3>Login with your account</h3>
        {% if form.errors %}
            <p class='error'>Your username and password didn't match.</p>
        {% endif %}
        {% csrf_token %}
        <div class="form-container">
            {%for field in form%}
                <input type='{{field.field.widget.input_type}}' name="{{field.html_name}}" placeholder='{{field.label}}' value='{% if field.value %}{{field.value}}{%endif%}'/> <br/>
            {%endfor%}
        </div>
        <input type="submit" value="Login"/>
        <input type="hidden" value="{{next}}"/>
        <div id="register">
            <strong>Don't have an account? </strong>
            <a href="{% url 'user_manage.views.registerUser' %}">Register</a>
        </div>
    </form>
    <div id="other_services">
        <h3>Other services</h3>
        <a href="{% url 'social:begin' 'google-oauth2' %}{% if next %}?next={{next}}{% endif %}" class='login-button'>Google Login</a>
    </div>
{%endblock%}
