<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8"/>
	<title>{% block title%}Grading Project{%endblock%}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css"/>
    <script src="/static/js/jquery.js"></script>
    <script type="text/javascript">
        var to;
        $(document).ready(function(){
            flashMessages();
            $("#userOptions").toggle(function(){
                $("#userOptionsMenu").slideDown(300);
                to=setTimeout("$('#userOptionsMenu').slideUp(300)", 3000);
            },
            function(){
                $("#userOptionsMenu").slideUp(300);
            });
            $("#userOptionsMenu").hover(
                function(){
                    to = clearTimeout(to);
                },
                function(){
                    to=setTimeout("$('#userOptionsMenu').slideUp(300)", 3000);
                })
            $("#content-container").click(function(){
                $("#userOptionsMenu").slideUp(300);
            });
        });
        function flashMessages(){
            if($(".messages").children("li").length > 0){
                $(".messages").fadeIn(300).delay(2500).slideUp(300);
                $(".messages").hover(function(){
                    $(this).clearQueue();
                }, function(){                
                    $(this).delay(2500).slideUp(300);
                });
            }
        }
        function flashMessage(msg){
            $(".messages").html("");
            $(".messages").append("<li>" + msg + "</li>");
            flashMessages();
        }
    </script>
    {%block head%}{%endblock%}
</head>
<body>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <div id="topbar">
        {%block topbar%}
            <div id="nav">
                <a href="/home">Home</a>
                {%if user.is_staff%}
                <a href="/lesson/add/">Lesson Creation</a>
                <a href="/account/classes/">Classes</a>
                {%endif%}
            </div>
            {%if user.is_authenticated%}
                <div id="userOptions">
                    Logged in as <strong>{{user.get_full_name}} ({{user.username}})</strong> <img class="midimg" src="/static/images/arrow_down.png"/>
                </div>
            {%else%}
                <div id="loginbutton">
                    <a href="{% url 'django.contrib.auth.views.login' %}">Login</a>
                </div>
            {%endif%}
            <div id="userOptionsMenu" class="triangle-isosceles top">
                {%if user.is_authenticated%}
                <ul>
                    <li><a href="/account/info/edit/">Change Account Info</a></li>
                </ul>
                <div id="user-button-container">
                    <button onclick="window.location.href='/logout/'">Logout</button>
                </div>
                {%endif%}
            </div>
        {%endblock%}
    </div>

    <div id="content-container">
    {% block content%}{%endblock%}
</div>
</body>
</html>