{%extends 'base.html'%}
{%block head%}
<link rel="stylesheet" type="text/css" href="/static/css/tables.css"/>
<style type="text/css">

</style>
<script type="text/javascript">
$(document).ready(function(){
    $(".lesson a").click(function(){
        var url = $(this).attr("href");
        // popup(url);
        window.location.href = url;
        return false;
    });
    $(".lesson").hover(
        function(){
        $($($(this).children('.name')).children('.icon')).show();
    },
    function(){
        $($($(this).children('.name')).children('.icon')).hide();
    });
    // $(".lesson").click(function(){
    //     var url = $($($(this).children(".name")).children("a")).attr("href");
    //     window.location.href = url;
    //     return false;
    // });
    $(".icon").click(function(){
        var url = $($(this).prev('a')).attr("href");
        popup(url);
        return false;
    });
});

function popup(url){
    var specs = "width=550,height=500,menubar=0,toolbar=0,status=0,toolbar=0,location=0,scrollbars=1";
    newWindow = window.open(url,"",specs);
}
</script>
<style type="text/css">
.icon{
    height:15px;
}
</style>
{%endblock%}
{%block content%}
    <h1>Shared with me</h1>
    <table id="current-lessons">
        <thead>
            <tr>
                <th>Lesson Name</th>
                <th>Creator</th>
                <th>Completed</th>
            </tr>
        </thead>
        {% for l in lessons%}
            <tr class="lesson">
                <td class="name"><a href="/lesson/{{l.lesson.key}}/">{{l.lesson}}</a> <img class="icon" title="New Window" src="/static/images/popout_window.png"/></td>
                <td class="creator">{{l.lesson.creator.get_full_name}}</td>
                {%if l.completed == l.lesson.questions.count%}
                    <td class="completed done">{{l.completed}}/{{l.lesson.questions.count}}</td>
                {%else%}
                    <td class="completed pending">{{l.completed}}/{{l.lesson.questions.count}}</td>
                {%endif%}
            </tr>
        {% endfor %}
    </table>
{%endblock%}