{% extends 'base.html' %}

{%block head%}
<script src="/static/js/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/alertify.js/0.3.10/alertify.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mousetrap/1.2.2/mousetrap.min.js"></script>
<script>
$(document).ready(function(){
    addResponses({{responses|safe}});
    $("#response_form").submit(function(){
        responses = [];
        var data = $(".question");
        for(var x = 0; x<data.length; x++){
            var id = $(data[x]).children('.q_id').val();
            var response = $(data[x]).children('.response').val();
            responses.push({id:id,response:response});
        }        
        $("#responses").val(JSON.stringify(responses));

        if(opener!=null){
            $.post(window.location.href,{"responses":JSON.stringify(responses)},function(data){
                if(data.success){
                    opener.location.reload(true);
                    window.close();
                }
            });
            return false;
        }
        return true;
    });
    $("#save").click(function(){
        ajaxSave();
    });
    // bind out of textarea:
    Mousetrap.bind(['ctrl+s', 'command+s'], function(e) {
        if (e.preventDefault) {
            e.preventDefault();
        } else {
            // internet explorer
            e.returnValue = false;
        }
        
        if (!($("#save").is(":disabled"))) {
            ajaxSave();
        }
        return false;
    });
    // bind in textarea:
    $(window).bind('keydown', function(event) {
        if (event.ctrlKey || event.metaKey) {
            switch (String.fromCharCode(event.which).toLowerCase()) {
            case 's':
                event.preventDefault();
                if (!($("#save").is(":disabled"))) {
                    ajaxSave();
                }
                break;
            }
        }
    });
    function ajaxSave() {
        $("#save").attr("disabled", true);
        alertify.log("Saving...");
        responses = [];
        var data = $(".question");
        for(var x = 0; x<data.length; x++){
            var id = $(data[x]).children('.q_id').val();
            var response = $(data[x]).children('.response').val();
            responses.push({id:id,response:response});
        }
        $("#responses").val(JSON.stringify(responses));
        var request = $.ajax({
            type: "post",
            url: window.location.href,
            data: {"responses": JSON.stringify(responses)}
        });
        request.done(function(data) {
            if (data['success'] === true) {
                $("#save").attr("disabled", false);
                alertify.success("Save successful!");    
            } else {
                $("#save").attr("disabled", false);
                alertify.error("Save failed. Please try again.");
            }
        });
        request.fail(function(data) {
            $("#save").attr("disabled", false);
            alertify.error("Save failed. Please try again.");
        });
        return false;        
    }
    function addResponses(arr){        
        if (arr.length!=0){
            questions = $(".question");
            for(var x = 0; x<questions.length; x++){
                $(questions[x]).children('.response').text(arr[x].response);
                $(questions[x]).next(".comment").text(arr[x].comment);
            } 
        }
    }
});
</script>
<style type="text/css">
    #content-container{
        width:auto;
    }
    #response_form{
        width:450px;
        margin: 0 auto;
    }
    .question{
        width:300px;
    }
    .comment{
        color:blue;
        font-size: .7em;
    }
    #response_form textarea{
        width:98%;
        resize:vertical;
    }
    h1{
        text-align: center;
    }
    #topbar{
        min-width:400px;
    }
    table{
        width:100%;
        border-spacing: 20px 5px;
    }
    thead th{
        font-size: 1.2em;
    }
</style>
{%endblock%}
{%block content%}
<form id="response_form" method="post">
    <table>
        <thead>
            <tr>
                <th>{{lesson.name}}</th>
                <th>Comments</th>
            </tr>
        </thead>
        {%for x in questions%}
        <tr>
            <td class="question">
                <span class="qnum">{{x.q_num}}</span>. {{x.text}}<br/>
                <input type="hidden" class="q_id" value="{{x.id}}"/>
                <textarea class="response" rows="6"></textarea><br/>
            </td>
            <td class="comment">
                {{x.comment}}
            </td>
        </tr>
        {%endfor%}
    </table>
    <input type="hidden" name="responses" id="responses"/>
    <br/>
    <input type="button" class="btn btn-primary" id="save" value="Save"/>
    <input type="submit" class="btn btn-success" value="Save and close"/>
</form>
{%endblock%}