{% extends 'base.html' %}

{%block head%}
<script src="/static/js/jquery.hotkeys.js"></script>
<script>
var template = "<div class='question'><span class='qnum'></span>.<br/><textarea class='q_text' rows='5' cols=40'></textarea><div class='question-options'><button class='up'>Move Up</button><button class='down'>Move Down</button><button class='delete'>Delete</button></div><input type='hidden' class='q_id' value=''/></div>"
$(document).ready(function(){
    $("[name='lesson_name']").focus();
    addListeners();
    renumber();    
    $("#addQ").click(function(){
        $("#question-container").append(template);
        $(".q_text").last().focus();
        $("html,body").stop(true);
        $("html,body").animate({
            scrollTop:$(document).height()
        }, 750);
        renumber();
        addListeners();
        return false;
    }); 

    $("#lesson_form").submit(function(){
        questions = [];
        var data = $(".question");
        if($("[name='lesson_name']").val().trim()==""){
            $(".errorlist").append("<li>Please enter a valid lesson name</li>");
            $("[name='lesson_name']").focus();
            setTimeout("clearErrors()", 1500);
            return false;
        }
        if(data.length == 0){
            $(".errorlist").append("<li>You must add a question first</li>");
            $("#addQ").focus();
            setTimeout("clearErrors()", 1500);
            return false;
        }
        for(var x = 0; x<data.length; x++){
            var id = $(data[x]).children('.q_id').val();
            var text = $($(data[x]).children('.q_text')).val();
            questions.push({id:id,q_text:text,q_num:(x+1)});
        }
        $("#questions").val(JSON.stringify(questions));
    });
});
function clearErrors(){
    $('.errorlist li').slideUp(500, function(){
        $(this).remove();
    });
}
function renumber(){
    var data = $(".question");
    var tab = 0;
    for(var x = 0; x<data.length; x++){
        $($(data[x]).children('.qnum')).text((x+1));
        $($(data[x]).children('.q_text')).attr("tabindex",(x+2));
        tab = x+2;
    }
    $("#addQ").attr("tabindex",(tab+1));
    $("[type='submit']").attr("tabindex",(tab+2));
}
function addListeners(){
    $(".delete").unbind();
    $(".up").unbind();
    $(".down").unbind();
    $("input, textarea, body").unbind();
    $(".q_text").unbind();
    $(".q_text").bind('keydown', 'ctrl+d', function(e){
        e.preventDefault();
        $(this).next(".question-options").find(".delete").click();
        return false;
    });
    $(".q_text").bind('keydown', 'ctrl+shift+up', function(e){
        e.preventDefault();
        $(this).next(".question-options").find(".up").click();
        $(this).focus();
        console.log(this);
        return false;
    });
    $(".q_text").bind('keydown', 'ctrl+shift+down', function(e){
        e.preventDefault();
        $(this).next(".question-options").find(".down").click();
        
        console.log(this);
        return false;
    });
    $("input, textarea, body").bind('keydown', 'ctrl+s', function(e){
        e.preventDefault();
        $("#lesson_form").submit();
        return false;
    });
    $("input, textarea, body").bind('keydown', 'ctrl+q', function(e){
        e.preventDefault();
        $("#addQ").click();
        return false;
    });
    $(".delete").click(function(){
        $(this).parent().parent(".question").prev(".question").find(".q_text").focus();
        $($(this).parent().parent(".question")).remove();
        renumber();
        return false;
    });
    $(".up").click(function(){
        var curr = $(this).parent().parent(".question");
        var prev = $(curr).prev(".question");
        if(curr[0]===$(".question").first()[0]){
            return false;
        }
        prev.fadeOut();
        curr.fadeOut(function(){            
            $(curr).insertBefore(prev).fadeIn(function(){
                curr.find(".q_text").focus();
            });
            prev.fadeIn();
            renumber();
            curr.focus();
        });           
        return false;
    });
    $(".down").click(function(){
        var curr = $(this).parent().parent(".question");
        var next = $(curr).next(".question");
        if(curr[0]===$(".question").last()[0]){
            return false;
        }
        next.fadeOut();
        curr.fadeOut(function(){            
            $(curr).insertAfter(next).fadeIn(function(){
                curr.find(".q_text").focus();
            });
            next.fadeIn();
            renumber();
        });           
        return false;
    });
    $("#delete-lesson").click(function(e){
        e.preventDefault();
        if(confirm("Are you sure you want to delete this lesson?")){
            $.get("/lesson/delete/{{lesson.key}}/", function(data){
                if(data.success){
                    window.location.href = "/home/";
                }else{
                    // Popup showing that delete was unsuccessful
                }                
            });
        }else{
            return false;
        }
    });
}
</script>
<style type="text/css">
#button-container{
    width:500px;
    margin:10px auto;
}
#question-container{
    width:600px;
    margin:10px auto;
}
.question-options{
    width:100px;
    display: inline-block;
    float: right;
}
.question-options button{
    padding:5px;
}
.q_text{
    display: inline-block;
    width:450px;
    resize:vertical;
}
.hidden{
    display:none;
}
</style>
{%endblock%}

{%block content %}
{%if lesson%}
    <h1>Edit Lesson <button id="delete-lesson"><img height='14px' src="/static/images/trash.png"/>Delete Lesson</button></h1>
{%else%}
    <h1>Create Lesson</h1>
{%endif%}
<ul class="errorlist error">
</ul>
<form id="lesson_form" method="post">
    {%if lesson%}        
        <h3>Lesson Name: <input type="text" name="lesson_name" tabindex="1" value="{{lesson.name}}"/></h3>

        <div id="question-container">
            {%for x in questions%}
                <div class="question">
                    <span class="qnum">{{x.q_num}}</span>.<br/>
                    <textarea class="q_text" rows="5">{{x.text}}</textarea>
                    <div class="question-options">
                        <button class="up">Move Up</button>
                        <button class="down">Move Down</button>
                        <button class="delete">Delete</button>
                    </div>
                    <input type="hidden" class="q_id" value="{{x.id}}"/>
                </div>
                
            {%endfor%}
        </div> 
        <div id="button-container">
            <input type="hidden" name="questions" id="questions"/>
            <button id="addQ">Add Question</button>              
            <input type="submit" value="Submit"/>         
        </div>
    {%else%}
        <h3>Lesson Name: <input type="text" tabindex="1" name="lesson_name"/></h3>
        <div id="question-container">
            {%for x in num %}
            <div class="question">
                <span class="qnum">{{x}}</span>.<br/>
                <textarea class="q_text" rows="5"></textarea>                
                <div class="question-options">
                    <button class="up">Move Up</button>
                    <button class="down">Move Down</button>
                    <button class="delete">Delete</button>
                </div>
                <input type="hidden" class="q_id" value=""/>
            </div>
            
            {%endfor%} 
        </div>
        <div id="button-container">
            <input type="hidden" name="questions" id="questions"/>
            <button id="addQ">Add Question</button>
            <input type="submit" value="Create Lesson"/>         
        </div>       
    {%endif%}    
</form>
{%endblock%}