{%extends 'base.html'%}

{%block head%}
<link rel="stylesheet" type="text/css" href="/static/css/tables.css"/>
<script src="/static/js/jquery.js"></script>
<script type="text/javascript">
var lesson_id = {{lesson_id}};
var lesson_key = "{{lesson_key}}";
$(document).ready(function(){
    // Check url for class
    if(window.location.href.match(/\=[a-zA-Z0-9]+/)!=null){
        classFilter = window.location.href.match(/classes\=[a-zA-Z0-9]+/).toString().replace("classes=", "");
        $("#classSelect option[value="+classFilter+"]").attr("selected","selected");
    }

    // Check url for selected user
    if(window.location.href.match(/\/u\/\d+/)!=null){
        var currUser = window.location.href.match(/\/u\/\d+/).toString().match(/\d+/).toString();
        $("#stuSelect option[value="+currUser+"]").attr("selected","selected");
    }

    // Check url for selected question
    if(window.location.href.match(/\/responses\/[a-zA-Z0-9]+\/\d+\//)!=null){
        var currQ = window.location.href.match(/\/\d+\//).toString().replace(/\//g, "");
        $("#qSelect option[value="+currQ+"]").attr("selected","selected");
    }

    $("#classSelect").change(function(){
        var selected = $(this).val();
        if(selected==0){
            $("#stuSelect option").show();
        }else{   
            $("#stuSelect option[data-class*='"+selected+",']").hide();
        }
    });

    $("#toggleComments").toggle(
        function(){
            $(".comment, #content-container").clearQueue();
            $(".comment").animate({
                'opacity': 'show',
                'width': '150px',
                'height': '50px',
            }, 300);
            $("#content-container").animate({
                'width':'1200px',
            }, 300, 'swing');
            return false;
        },
        function(){
            $(".comment, #content-container").clearQueue();
            $(".comment").animate({
                'width': '0px',
                'height': '0px',
                'opacity': 'hide',
            }, 300);
            $("#content-container").animate({
                'width':'800px',
            }, 300, 'swing');    
            return false;    
        });

    // Adds listeners for response table and topbar options
    addFilterListeners();
    addTableListeners();
    // Updates the response table
    update();
});

var classFilter = "";
var order = "";

function addFilterListeners(){
    $("#classSelect").change(function(){
        if($(this).val()!=0){
            classFilter = $(this).val();
        }else{
            classFilter = "";
        }
        update();
    });
    $("#qSelect").change(function(){
        if($(this).val()!=0){
            window.location.href = "/responses/"+lesson_key+"/"+$(this).val()+"/?classes="+classFilter;
        }else{
            window.location.href = window.location.href.match(/\/responses\/[a-zA-Z0-9]+\//).toString()+"1/?classes="+classFilter;
        }
    });
    $("#stuSelect").change(function(){
        if($(this).val()!=0){
            var user = $(this).val();
            window.location.href = "/responses/"+lesson_key+"/u/"+user+"/";
        }else{
            window.location.href = window.location.href.match(/\/responses\/[a-zA-Z0-9]+\//).toString()+"1/?classes="+classFilter;
        }
    });  
    
    $("#auto-refresh").toggle(
        function(){
            ar = setInterval("update()", 6000);
            $(this).text("Stop");
            $(this).css("background-color",'pink');
        },
        function(){
            ar = clearInterval(ar);
            $(this).text("Go Live");
            $(this).css("background-color",'lightgreen');
        });    
    $(".show-all").unbind();
    $("#show-all").toggle(
        function(){
            $(this).text("Hide All Questions");
            $(this).css("background-color",'pink');
            $(".toggleq").text("hide");
            $(".toggleq").css("color",'pink');
            $(".toggleq").next("p").slideDown();
        },
        function(){
            $(this).text("Show All Questions");
            $(this).css("background-color",'lightgreen');
            $(".toggleq").text("show");
            $(".toggleq").css("color",'lightgreen');
            $(".toggleq").next("p").slideUp();
        }
    );  
}

function addTableListeners(){    
    $("#selAll").unbind();
    $("#selAll").click(function(){
        $(".response input[type='checkbox']").attr("checked", "checked");
        $(".response input[type='checkbox']").change();
        return false;
    });
    $("#selNone").unbind();
    $("#selNone").click(function(){
        $(".response input[type='checkbox']").removeAttr("checked");
        $(".response input[type='checkbox']").change();
        return false;
    });
    $(".toggleq").unbind();
    $(".toggleq").toggle(
        function(){
            $(this).text("hide");
            $(this).css("color",'pink');
            $(this).next("p").slideDown();
        },
        function(){
            $(this).text("show");
            $(this).css("color",'lightgreen');
            $(this).next("p").slideUp();
        });  
    $(".orderable").unbind();
    $(".orderable").click(function(){
        var temp = $(this).attr("data-order");
        if(order.trim() == temp.trim()){
            order = "-" + order;
        }else{
            order = temp;
        }
        update();
    });
    $(".comment").unbind();
    $(".comment").focus(function(){
        $(this).parent("td").parent(".response").css("background", "#FFFFCD");
    });
    $(".comment").blur(function(){
        $(this).parent("td").parent(".response").css("background", "");
        var id = $(this).parent("td").parent('.response').find('.r_id').val();
        $.post("/comment/"+id+"/", {"comment": $(this).val()}, function(data){
            if(data.success){
                $(".messages").clearQueue().hide();
                $(".messages").html("<li>Comment successfully recorded</li>");
                flashMessages();
            }else{
                switch(data.errorCode){
                    case 0:
                        break;
                    case 1:
                        $(".messages").clearQueue().hide();
                        $(".messages").html("<li class='error'>Comment unsuccessfully recorded</li>");
                        flashMessages();
                        break;
                }
            }
        });
    });
    $(".response input[type='checkbox']").unbind();
    $(".response input[type='checkbox']").change(function(){
        var curr = $($(this).next(".r_id"));
        var seen = ($(this).attr('checked')!=undefined)?1:0;
        $.get("/ajax/setseen/"+curr.val()+"/",{"seen":seen}, function(data){
        });
        var comment = $($('.seen').parent().children()[4].children[0]);

        if (seen === 1) {
            if (comment.val() === '') {
                comment.val('OK');
                comment.trigger('blur');
            }
        } else if (seen === 0) {
            if (comment.val() === 'OK') {
                comment.val('');
                comment.trigger('blur');
            }
        }
    });    
}

var responseTemplate = "\
    <tr class='response'>\
        <td class='username'></td>\
        <td class='date'></td>\
        <td class='text'></td>\
        <td class='seen'>\
            <input type='checkbox'/>\
            <input type='hidden' class='r_id'/>\
        </td>\
        <td>\
            <textarea class='comment'></textarea>\
        </td>\
    </tr>";

function update(){
    $(".loader").show();
    var url = window.location.href.toString();
    if(url.lastIndexOf("?") != -1){
        url = url.substring(url.indexOf("/responses"), url.lastIndexOf("?"));
    }else{
        url = url.substring(url.indexOf("/responses"));
    }
    $.getJSON("/ajax"+url, {"classes":classFilter, "order":order}, function(data){
        $(".response").remove();
        if($(".q_heading").length!=0){
            for(x in data.responses){
                r = data.responses[x];
                $($(".q_heading[rel='"+r.q_num+"']").parent()).after(responseTemplate);
                var curr = $($(".q_heading[rel='"+r.q_num+"']").parent()).next(".response");
                curr.children(".text").text(r.response);
                curr.children(".date").text(r.edit_date);
                curr.children(".username").text(r.student);
                curr.children('.seen').children(".r_id").val(r.r_id);
                if(r.viewed){
                    curr.children('.seen').children("[type='checkbox']").attr("checked","checked");
                }
                curr.find('.comment').attr('tabindex', x+1);
                curr.find('.comment').val(r.comment);
            }
        }else{            
            for(x in data.responses){
                r = data.responses[x];
                $("#responses tbody").append(responseTemplate);
                var curr = $(".response").last();
                curr.children(".text").text(r.response);
                curr.children(".date").text(r.edit_date);
                curr.children(".username").text(r.student);
                curr.children('.seen').children(".r_id").val(r.r_id);
                if(r.viewed){
                    curr.children('.seen').children("[type='checkbox']").attr("checked","checked");
                }
                curr.find('.comment').attr('tabindex', x+1);
                curr.find('.comment').val(r.comment);
            }
        }
        $("#respondents span").text(data.responses.length);
        addTableListeners();
        $(".loader").hide();
    });
}
</script>
<style type="text/css">
#responses{
    width:100%;
    border-spacing: 0px;
}
.username{
    width:100px;
}
.date{
    width:180px;
}
.seen{
    width:25px;
    text-align: center;
}
.q_heading{
    text-align: left;
    border-bottom: 1px solid black;
}
#filter-options{
    position:fixed;
    top:30px;
    left:0;
    right:0;
    height:30px;
    padding-right: 1.5em;
    text-align: right;
    border-bottom:1px black solid;
    background: #e8eae9;
    background: linear-gradient(#f7faf9, #e8eae9);
    min-width: 800px;
}
#filter-options button{
    margin:5px 0px;
}
#content-container{
    margin-top:70px;
}
th{
    vertical-align: top;
    padding:5px;
}
td{
    text-align: center;
    vertical-align: top;
}
#auto-refresh,#show-all{
    margin:0 5px;
    padding:2px 10px;
    font-size: 12px;
    background-color: #91F58C;
}
p strong{
    font-size: 1.3em;
}
.toggleq{
    font-size: 12px;
    color:lightgreen;
}
.toggleq:hover{
    text-decoration: underline;
}
.q_text{
    font-size: 14px;
    font-weight: normal;
    padding:0 10px;
    display:none;
}
#selAll,#selNone{
    color:lightblue;
    font-size: .7em;
    margin-left:5px;
}
#selAll:hover,#selNone:hover{
    color:white;
}
#selAll:active,#selNone:active{
    color:pink;
}
td{
    padding:5px;
}
.loader{
    display: none;
    vertical-align: middle;
}
h1{
    margin: 0;
}
#respondents{
    float:right;
    margin-left:20px;
}
.comment{
    display:none;
    width:0;
}
.text{
    text-align: left;
}
#toggleComments:hover{
    cursor: pointer;
}
</style>
{%endblock%}

{%block content%}
    <ul class="messages">
    </ul>
    <div id="filter-options">  
        <img class="loader" src="/static/images/loader.gif"/>  
        <strong>Filter Options:</strong> 
        Class <select id="classSelect">
            <option value="0">---</option>
            {% for c in classes %}
                <option value="{{c.uid}}">{{c.name}}</option>
            {% endfor %}
        </select>                  
        Student <select id="stuSelect">
            <option value="0">---</option>
            {%for u in users%}
                <option data-class="{%for x in u.class_set.all%}{{x.uid}},{%endfor%}" value="{{u.id}}">{{u.get_full_name}}</option>
            {%endfor%}
        </select>
        Question Number <select id="qSelect">
            <option value="0">---</option>
            {%for q in questions%}
                <option value="{{q.q_num}}">{{q.q_num}}. {{q.short_text}}</option>
            {%endfor%}
        </select>
        <button id="auto-refresh">Go Live</button>            
        {%if not question%}
            <button id="show-all">Show All Questions</button>
        {%endif%}        
    </div>
    <h1>{{lesson.name}}</h1>
    <p id="respondents">
        Responses: <span></span>
    </p>
    {%if question%}
    <p>
        <strong>Question {{question.q_num}}:</strong> {{question.text}}
    </p>
    {%endif%}
    <table id="responses">
        <thead>
            <tr id="headings">
                <th class="orderable" data-order="student" title="Sort by student last name">Student</th>
                <th class="orderable" data-order="edit_date" title="Sort by last edit date">Last Edit Date</th>
                <th>Response</th>
                <th class="orderable" data-order="viewed" title="Order by seen">Seen <br/><a title="Mark all as seen" href='#' id='selAll'>All</a><a href='#' title="Mark all as unseen" id='selNone'>None</a></th>
                <th><img id="toggleComments" title="Toggle comments" height="30" src="/static/images/comments.png"/></th>
            </tr>  
        </thead>  
        <tbody>
            {%for q in questions%}  
                {%if not question%}
                <tr>
                    <th class="q_heading" rel="{{q.q_num}}"  colspan="5">
                        <span title="{{q.text}}">Question {{q.q_num}}</span> <a href="#" title="Click to show/hide" class="toggleq">show</a>
                        <p class="q_text">{{q.text}}</p>
                    </th>
                </tr>   
                {%endif%}
            {%endfor%}
        </tbody>    
    </table>
{%endblock%}